@page "/ex5"

@inject IJSRuntime JS
@rendermode InteractiveServer

<div class="text-center m-5 p-5">
    <h3>بسم الله الرحمن الرحيم</h3>
    @foreach (var item in Colors)
    {
        <div class="circle m-3" style="background-color:@item" id="@item" @onclick="() => Change(item)"></div>
    }



    <h1>Ninja Dev</h1>
    <h2>Ninja Dev</h2>
    <h2>Ninja Dev</h2>

</div>

