@page "/student"
@rendermode InteractiveServer  

<h3 style="font-size:@($"{size}px")">النص ده بيتغير حجمه</h3>

<input type="range" min="10" max="50" step="1"
       @bind="size" @bind:event="oninput" />

<p>الحجم الحالي: @size px</p>

@code {
    private int size = 20;
}